<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	
	<script src="__PUBLIC__/js/jquery.2.1.1.min.js"></script>
	<script src="__PUBLIC__/js/jquery.form.js"></script>
	<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/static/layer/layer.js"></script>
	<script src="__PUBLIC__/js/ace.min.js"></script>

	<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/ace.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/form-layout.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/layout.css" />
</head>